a {
  text-decoration: none;
  color: #131840;
}
.App {
  font-family: "Montserrat", sans-serif;
  color: #8c94a9;
}
.action__buttons {
  display: flex;
  justify-content: flex-end;
}

/* Modal */
.modal__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.action__container {
  padding-top: 10px !important;
  margin: 20px;
}
/* LockItem */

.listItemDoors {
  display: flex;
  align-items: center;
}
.listItemDoors span {
  margin: 0 20px;
}
.pagination {
  display: flex;
  align-items: center;
}
/* EmptyQueue */
.emptyQueue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #8c94a9;
}
.emptyQueue h6 {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
