a {
  text-decoration: none;
  color: #131840;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #8c94a9;
}
.actioncontainer {
  display: flex;
  justify-content: flex-end;
}
.overall {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/* Modal */
.modal__title {
  padding: 20px;
  margin: 20px;
}
.second {
  grid-row: 2 / 3;
  align-self: flex-end;
}
.listItemDoors {
  display: flex;
  align-items: center;
}
.listItemDoors span {
  margin: 0 20px;
}
.pagination {
  display: flex;
  align-items: center;
}
/* EmptyQueue */
.emptyQueue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #8c94a9;
}
.emptyQueue h6 {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
